{% extends "base.html" %}
{% block title %}{{ t('change_password') }}{% endblock %}
{% block content %}
<div class="login">
  <h1>{{ t('change_password') }}</h1>
  {% if user.must_change_password %}<p class="muted">{{ t('must_change_hint') }}</p>{% endif %}
  <form method="post" action="/passwort" class="card stack">
    <input type="hidden" name="csrf" value="{{ csrf }}">
    <label>{{ t('current_password') }}<input name="current" type="password" required autocomplete="current-password" maxlength="200"></label>
    <label>{{ t('new_password') }}<input name="new" type="password" required minlength="12" autocomplete="new-password" maxlength="200"></label>
    <label>{{ t('repeat_password') }}<input name="repeat" type="password" required minlength="12" autocomplete="new-password" maxlength="200"></label>
    <p class="muted small">{{ t('pw_rules') }}</p>
    <button class="btn primary big">{{ t('save') }}</button>
  </form>
</div>
{% endblock %}
